<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title" translate="sector.PASSPORT_TITLE"></h3>
    <div class="panel-btn-bar">
      <a href class="btn btn-success btn-xs btn-edit" translate="mainmenu.EDIT"></a>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <tr>
        <th scope="row" translate="obj.OBJECT"></th>
        <td translate="sector.BAM_LONG"></td>
      </tr>
      <tr>
        <th scope="row" translate="sector.REPUBLICS"></th>
        <td translate="sector.REPUBLICS_ALL"></td>
      </tr>
    </table>
    <hr>
    <p translate="sector.PASSPORT_NOTE"></p>
  </div>
</div>