<!-- Navigation -->
<div mainmenu></div>
<div envi-slider></div>

<!-- Page Content -->
<div class="container-fluid" id="container">

  <div class="row text-center gis-row">

    <div gis-directive class="col-sm-8 panel-content" style="padding-left:0;padding-right: 0px;"></div>

    <div ng-if="$state.is('obj')" obj-passport-directive class="col-sm-4 panel-content" style="padding-right:0;padding-left:3px;"></div>
    
    <div ng-if="$state.is('sector')" sector-passport-directive class="col-sm-4 panel-content" style="padding-right:0;padding-left:3px;"></div>

  </div>

  <div ui-view></div>

  <!-- Footer 
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p translate="site.FOOTER"></p>
      </div>
    </div>
  </footer> -->

</div>
<!-- /.container -->