<a class="envi-logo" href="#"><img src="images/eco-banner4.png"></a>

<nav class="navbar navbar-inverse" id="mainmenu" role="navigation" bs-navbar>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" translate="site.TITLE"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" translate="mainmenu.HELP"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-animation="am-flip-x" bs-dropdown="langItems" aria-haspopup="true" aria-expanded="false">{{app.lang.name}} <span class="caret"></span></a>
        </li>

      </ul>

    </div>
    <!-- /.navbar-collapse -->            
  </div>
  <!-- /.container -->
</nav>